[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-js-context-coloring"]
	path = .vim/bundle/vim-js-context-coloring
	url = https://github.com/bigfish/vim-js-context-coloring.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-yardoc"]
	path = vim-yardoc
	url = https://github.com/noprompt/vim-yardoc.git
