[user]
  name = Alexander
  email = alxndr+github@gmail.com

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  pager = less -FRSX

[alias]
  amend = commit --amend --no-edit
  assume-unchanged = update-index --assume-unchanged
  b = branch
  bn = name-rev --name-only HEAD
  ci = commit
  co = checkout
  conflicting = !git ls-files -u | awk '{print $3\" \"$4}'
  delete-merged-branches = !git branch --merged master | grep -v " master" | xargs -n 1 git branch -d # http://stevenharman.net/git-clean-delete-already-merged-branches
  di = diff
  diff-master = show-branch --current upstream/master # n.b. fetch upstream before running
  diff-rc = show-branch --current upstream/rc
  family-tree = log --graph --oneline --branches --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %C(bold blue)%an %Cgreen%cr%Creset'
  find-last-mention-of = log -1 -u -S # expects search string
  find-untracked-files = !git ls-files -v $(git get-root-dir) | grep -e "^[a-z]"
  fq = !git bflow feature qa
  fr = !git bflow feature review
  fs = !git bflow feature start
  ft = !git bflow feature track
  lg = log --color --graph --abbrev-commit --abbrev=8 --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %C(bold blue)%an %Cgreen%cr%Creset'
  reset-origin = !git fetch origin && git checkout master && git reset --hard origin/master
  reset-upstream = !git fetch upstream && git checkout master && git reset --hard upstream/master
  get-root-dir = !git rev-parse --show-toplevel
  show-unchanged = !git ls-files -v | grep "^[a-z]"
  st = status

[branch]
  autosetupmerge = true
[branch "master"]
  remote = <nickname>
  merge = <remote-ref>
  rebase = true

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  conflictstyle = diff3
  keepBackup = false;
  tool = p4mergetool
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[mergetool "p4mergetool"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
  trustExitCode = false
[mergetool]
  keepBackup = false

[log]
  date = local
  stat = true

[push]
  default = current

[help]
  autocorrect = 15
