*.swp
*~
.#*
.DS_Store
.idea/
.ignore
.jhw-cache
.lein/repl-history
.lein/self-installs
.netrwhist
.tern-port
.vim/autoload/plug.vim
UserInterfaceState.xcuserstate
config/database.yml.readonly
coverage
jscoverage
node_modules/
secrets.sh
