[user]
  name = Alexander
  email = alxndr+github@gmail.com

[core]
  excludesfile = ~/.gitignore
  pager = less -FRSX

[alias]
  aliases = config --get-regexp alias
  amend = commit --amend --no-edit
  assume-unchanged = update-index --assume-unchanged
  authors = shortlog --summary --numbered
  b = branch
  bl = blame -C -C -C
  bn = branch-name
  branch-name = rev-parse --abbrev-ref HEAD
  ci = commit
  co = checkout
  conflicting = !git ls-files -u | awk '{print $3\" \"$4}'
  contributors = !git log --pretty=format:"%at@%an" --reverse | sort --unique --key=2 | sort --numeric --key=1 | cut -d"@" -f2 - # in order of first contribution... h/t https://stackoverflow.com/a/20639730/303896
  cp = cherry-pick
  delete-merged-branches = !git branch --merged master | grep -v " master" | xargs -n 1 git branch -d # http://stevenharman.net/git-clean-delete-already-merged-branches
  di = diff
  diff-master = show-branch --current upstream/master # n.b. fetch upstream before running
  diff-rc = show-branch --current upstream/rc
  family-tree = log --graph --oneline --branches --pretty=sha-family-tree
  find = log -u -G # searchRegex [path]
  find-untracked-files = !git ls-files -v $(git get-root-dir) | grep -e "^[a-z]"
  first-commit = rev-list --max-parents=0 HEAD
  fq = !git bflow feature qa
  fr = !git bflow feature review
  fs = !git bflow feature start
  ft = !git bflow feature track
  l = log --no-merges --abbrev-commit --abbrev=8 --pretty=sha-date-message-author-branch
  lg = log --graph --abbrev-commit --abbrev=8 --pretty=sha-branch-message-author-date
  get-root-dir = !git rev-parse --show-toplevel
  gol = log --reverse --abbrev-commit --abbrev=8 --pretty=sha-date-author-message-branch
  reset-origin = !git fetch origin && git checkout master && git reset --hard origin/master
  reset-upstream = !git fetch upstream && git checkout master && git reset --hard upstream/master
  show-unchanged = !git ls-files -v | grep "^[a-z]"
  st = status
  tagv = tag --message=$2 $2 $1 # create tag: $ git tg SHA vX.X.X

[pretty]
  sha-branch-message-author-date = format:%C(red)%h%C(reset)%C(yellow)%d%C(reset) %s %C(blue)%an %C(green)%cr%C(reset)
  sha-date-author-message-branch = format:%C(red)%h%C(reset) %C(green)%ar%C(reset) %C(bold blue)%an%C(reset) %s%C(yellow)%d%C(reset)
  sha-date-message-author-branch = format:%C(red)%h%C(reset) %C(green)%ar%C(reset) %s %C(bold blue)%an%C(reset)%C(yellow)%d%C(reset)
  sha-family-tree = format:%C(red)%h%C(reset)%C(yellow)%d%C(reset) %s %C(bold blue)%an %C(green)%cr%C(reset)


[branch]
  autosetupmerge = true
[branch "master"]
  remote = <nickname>
  merge = <remote-ref>
  rebase = true

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  conflictstyle = diff3
  keepBackup = false;
  tool = p4mergetool
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[mergetool "p4mergetool"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
  trustExitCode = false
[mergetool]
  keepBackup = false

[log]
  date = local
  stat = true

[push]
  default = current

[help]
  autocorrect = 15
